<md-toolbar color="primary">
  <button md-icon-button>
    <md-icon>arrow_back</md-icon>
  </button>
  SHAREcoupons
</md-toolbar>
<div style="background-color: rgb(241,63,63);height: 25vh;width: 100%; margin-top: 5vh; margin-bottom: 5vh;">
  <div style="border: 1px dashed white;width: 80%;margin-left: 10%;height: 10vh;margin-top: 4vh;display: inline-block;">
    <p style="color: white;font-weight:bold;text-align:center;font-size:1.3rem;">
      HPOK4-K5FT4-4MLUC
    </p>
  </div>
  <p style="text-align:center;">
    <span>Long press to copy your coupon code for</span>
    <br>
    <span>Rs 50 Gift Voucher at Amazon.in</span>
  </p>
</div>
<div>
  <p style="text-align: center;">
    Add to your account before 10th August
  </p>
  <p style="text-align: center;font-size: 0.8rem;color: gray;">
    View ONLY for your first purchase on Amazon.in
  </p>

  <div style="border-radius: 50px; border: 1px solid red;text-align: center;margin-left: 25%; width: 50%;padding-top:15px;height: 30px;">
    VIEW WEBSITE
  </div>
  <div style="text-align: center;margin-top: 10vh;text-decoration: underline;">
    <a>Click for details</a>
  </div>

  <div>
    <p>
      Terms & Conditions:
    </p>
  </div>
  <div style="width: 100%; height: 2px; background-color: gray;">
  </div>
  <div style="margin-top:10px;border-radius: 50px; border: 1px solid gray;text-align: center;margin-left: 25%; width: 50%;padding-top:8px;height: 30px;background-color: rgb(241,241,243);">
    <md-icon>arrow_back</md-icon>
    <md-icon>arrow_forward</md-icon>
    <md-icon>vertical_align_bottom</md-icon>
    <md-icon>refresh</md-icon>
  </div>
</div>
